@CHARSET "UTF-8";
#person_tab {
	margin:0;
	padding:0;
	border-collapse: collapse;
}
#person_tab td, #person_tab th {
	margin:0;
	padding:0;
	border: 1px solid #cad9ea;
	color: #666;
	height: 22px;
	
}

#person_tab tr:nth-child(odd) {
	background: #fff;
}

#person_tab tr:nth-child(even) {
	background: #F5FAFA;
}
.text_tr{
	text-align: right;
	font-weight: 900;
}
.text_tr input{
	margin:0;
	padding:0;
	width: 99.5%;
}